<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.changyu.foryou.mapper.OrderMapper">
	<resultMap id="BaseResultMap" type="com.changyu.foryou.model.Order">
		<id column="order_id" property="orderId" jdbcType="VARCHAR" />
		<id column="create_user" property="createUser" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
		<result column="order_status" property="orderStatus" jdbcType="SMALLINT" />
		<result column="records" property="records" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="VARCHAR" />
		<result column="idcard" property="idCard" jdbcType="VARCHAR" />
		<result column="hospital" property="hospital" jdbcType="VARCHAR" />
		<result column="hospital_area" property="hospitalArea" jdbcType="VARCHAR" />
		<result column="mrNo" property="mrNo" jdbcType="VARCHAR" />
		<result column="department" property="department" jdbcType="VARCHAR" />
		<result column="doctor" property="doctor" jdbcType="VARCHAR" />
		<result column="bedNo" property="bedNo" jdbcType="VARCHAR" />
		<result column="diseases" property="diseases" jdbcType="VARCHAR" />
		<result column="out_date" property="outDate" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="detail" property="detail" jdbcType="VARCHAR" />
		<result column="provice" property="provice" jdbcType="VARCHAR" />
		<result column="city" property="city" jdbcType="VARCHAR" />
		<result column="district" property="district" jdbcType="VARCHAR" />	
		<result column="adr_title" property="adrTitle" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="concat_name" property="concatName" jdbcType="VARCHAR" />
		<result column="concat_phone" property="concatPhone" jdbcType="VARCHAR" />
		<result column="idcard_front" property="idCardFront" jdbcType="VARCHAR" />	
		<result column="idcard_back" property="idCardBack" jdbcType="VARCHAR" />
		<result column="out_summary" property="outSummary" jdbcType="VARCHAR" />
		<result column="sign" property="sign" jdbcType="VARCHAR" />
		<result column="deliveryNo" property="deliveryNo" jdbcType="VARCHAR" />
	</resultMap>
	
	
	<insert id="insertSelective" >
		insert into orders
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="orderId != null">
				order_id,
			</if>
			<if test="createUser != null">
				create_user,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="lastUpdateTime != null">
				last_update_time,
			</if>
			<if test="orderStatus != null">
				order_status,
			</if>
			<if test="records != null">
				records,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="idCard != null">
				idcard,
			</if>
			<if test="sex != null">
				sex,
			</if>
			<if test="hospital != null">
				hospital,
			</if>
			<if test="hospitalArea != null">
				hospital_area,
			</if>
			<if test="mrNo != null">
				mrNo,
			</if>
			<if test="department != null">
				department,
			</if>
			<if test="doctor != null">
				doctor,
			</if>
			<if test="bedNo != null">
				bedNo,
			</if>
			<if test="diseases != null">
				diseases,
			</if>
			<if test="outDate != null">
				out_date,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="detail != null">
				detail,
			</if>
			<if test="provice != null">
				provice,
			</if>
			<if test="city != null">
				city,
			</if>
			<if test="district != null">
				district,
			</if>
			<if test="adrTitle != null">
				adr_title,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="concatName != null">
				concat_name,
			</if>
			<if test="concatPhone != null">
				concat_phone,
			</if>
			<if test="idCardFront != null">
				idcard_front,
			</if>
			<if test="idCardBack != null">
				idcard_back,
			</if>	
			<if test="outSummary != null">
				out_summary,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="orderId != null">
				#{orderId,jdbcType=VARCHAR},
			</if>
			<if test="createUser != null">
				#{createUser,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastUpdateTime != null">
				#{lastUpdateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="orderStatus != null">
				#{orderStatus,jdbcType=SMALLINT},
			</if>
			<if test="records != null">
				#{records,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="idCard != null">
				#{idCard,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				#{sex,jdbcType=VARCHAR},
			</if>
			<if test="hospital != null">
				#{hospital,jdbcType=VARCHAR},
			</if>
			<if test="hospitalArea != null">
				#{hospitalArea,jdbcType=VARCHAR},
			</if>
			<if test="mrNo != null">
				#{mrNo,jdbcType=VARCHAR},
			</if>
			<if test="department != null">
				#{department,jdbcType=VARCHAR},
			</if>
			<if test="doctor != null">
				#{doctor,jdbcType=VARCHAR},
			</if>
			<if test="bedNo != null">
				#{bedNo,jdbcType=VARCHAR},
			</if>
			<if test="diseases != null">
				#{diseases,jdbcType=VARCHAR},
			</if>
			<if test="outDate != null">
				#{outDate,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="detail != null">
				#{detail,jdbcType=VARCHAR},
			</if>
			<if test="provice != null">
				#{provice,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				#{city,jdbcType=VARCHAR},
			</if>
			<if test="district != null">
				#{district,jdbcType=VARCHAR},
			</if>
			<if test="adrTitle != null">
				#{adrTitle,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="concatName != null">
				#{concatName,jdbcType=VARCHAR},
			</if>
			<if test="concatPhone != null">
				#{concatPhone,jdbcType=VARCHAR},
			</if>
			<if test="idCardFront != null">
				#{idCardFront,jdbcType=VARCHAR},
			</if>
			<if test="idCardBack != null">
				#{idCardBack,jdbcType=VARCHAR},
			</if>
			<if test="outSummary != null">
				#{outSummary,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" flushCache="true" useCache="false">
		select
		*
		from orders
		where order_id = #{orderId,jdbcType=VARCHAR} 
	</select>
	
	<update id="deleteOrderById">
		 update orders set
		<if test="orderStatus != null">
			order_status=#{orderStatus, jdbcType=SMALLINT}
		</if>
		<if test="records != null">
			,records=#{records, jdbcType=VARCHAR}
		</if>
		<if test="lastUpdateTime != null">
			,last_update_time=#{lastUpdateTime, jdbcType=TIMESTAMP}
		</if>
		where
			order_id=#{orderId, jdbcType=VARCHAR}
	</update>
	
	
	<update id="updateOrderStatus">
		 update orders set
		<if test="orderStatus != null">
			order_status=#{orderStatus, jdbcType=SMALLINT}
		</if>
		<if test="records != null">
			,records=#{records, jdbcType=VARCHAR}
		</if>
		<if test="lastUpdateTime != null">
			,last_update_time=#{lastUpdateTime, jdbcType=TIMESTAMP}
		</if>
		where
			order_id=#{orderId, jdbcType=VARCHAR}
		and
		    create_user=#{createUser, jdbcType=VARCHAR}	
	</update>
	
	
	<update id="updateOrderIdCard">
		 update orders set
		<if test="idCardFront != null">
			idcard_front=#{idCardFront, jdbcType=VARCHAR}
		</if>
		<if test="idCardBack != null">
			,idcard_back=#{idCardBack, jdbcType=VARCHAR}
		</if>
		<if test="outSummary != null">
			,out_summary=#{outSummary, jdbcType=VARCHAR}
		</if>
		<if test="sign != null">
			,sign=#{sign, jdbcType=VARCHAR}
		</if>
		where
			order_id=#{orderId, jdbcType=VARCHAR}
		and 
			create_user=#{createUser, jdbcType=VARCHAR}
	</update>
	
	<update id="updateDeliveryNo">
		 update orders set
		<if test="deliveryNo != null">
			deliveryNo=#{deliveryNo, jdbcType=VARCHAR}
		</if>
		<if test="orderStatus != null">
			,order_status=#{orderStatus, jdbcType=SMALLINT}
		</if>
		<if test="records != null">
			,records=#{records, jdbcType=VARCHAR}
		</if>
		<if test="lastUpdateTime != null">
			,last_update_time=#{lastUpdateTime, jdbcType=TIMESTAMP}
		</if>
		where
			order_id=#{orderId, jdbcType=VARCHAR}
	</update>
	
	<select id="getMineOrders" resultMap="BaseResultMap" flushCache="true" useCache="false">
		select
		*
		from orders
		where create_user = #{createUser,jdbcType=VARCHAR} 
		order by last_update_time
		DESC
		<if test="limit !=null and offset !=null">
			LIMIT #{limit,jdbcType=INTEGER} OFFSET
			#{offset,jdbcType=INTEGER}
		</if>
	</select>
	
	<!-- 获取某天的总订单详情和数目 -->
	<select id="selectOrdersByDate" resultMap="BaseResultMap" flushCache="true" useCache="false" >
		select *
		from orders
		where
			order_status > 0 
		and 
			order_status != 9 
		and
			create_time >= #{TimeBegin,jdbcType=VARCHAR}
		and
			create_time &lt;= #{TimeEnd,jdbcType=VARCHAR}
		ORDER BY
		create_time ASC
	</select>
	
	<select id="selectOrdersByNameIdCard" resultMap="BaseResultMap" flushCache="true" useCache="false" >
		select *
		from orders
		where
			name = #{name,jdbcType=VARCHAR} 
		and
			idcard = #{idcard,jdbcType=VARCHAR}
		ORDER BY
		create_time ASC
	</select>
	
	<select id="getOrdersByStatus" resultMap="BaseResultMap">
		select
		*
		from orders
		WHERE order_status =#{status,jdbcType=SMALLINT}
		<if test="search!=null">
			and (name like "%${search}%"
			or order_id like "%${search}%"
			or phone like "%${search}%"
			or idcard like "%${search}%"
			or hospital like "%${search}%"
			or doctor like "%${search}%"
			)
		</if>
		order by create_time DESC
		limit ${offset},${limit}
	</select>
	
	<select id="getOrdersStatusCount" resultType="Long">
		select count(*)
		from orders
		WHERE order_status =#{status,jdbcType=SMALLINT}
		<if test="search!=null">
			and (name like "%${search}%"
			or order_id like "%${search}%"
			or phone like "%${search}%"
			or idcard like "%${search}%"
			or hospital like "%${search}%"
			or doctor like "%${search}%"
			)
		</if>
	</select>
	
	<!-- 获取某天的总订单详情和数目 -->
	<select id="getOrdersBeforeDate" resultMap="BaseResultMap" flushCache="true" useCache="false" >
		select *
		from orders
		where
			order_status = #{status,jdbcType=SMALLINT} 
		and
			out_date &lt;= #{TimeEnd,jdbcType=VARCHAR}
		ORDER BY
		out_date ASC
	</select>
	
</mapper>